<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading" style="padding-top: 5%; padding-bottom: 5%">Will you survive the titanic???</h2>
		
        <label for="inputEmail" style="padding-top: 2.5%;">Class</label>
        <input type="number" id="inputEmail" class="form-control" placeholder="Class" [(ngModel)]="selectedClass" [ngModelOptions]="{standalone: true}" required autofocus>
		
		<label for="age" style="padding-top: 2.5%;">Age</label>
        <input type="number" id="age" class="form-control" placeholder="Age" [(ngModel)]="age" [ngModelOptions]="{standalone: true}" required autofocus>
		
		<label for="sibs" style="padding-top: 2.5%;"># of siblings</label>
        <input type="number" id="sibs" class="form-control" placeholder="# of Siblings" [(ngModel)]="siblings" [ngModelOptions]="{standalone: true}" required autofocus>
		
		<label for="pars" style="padding-top: 2.5%;"># of parents</label>
        <input type="number" id="pars" class="form-control" placeholder="# of Parents" [(ngModel)]="parents" [ngModelOptions]="{standalone: true}" required autofocus>
		
		<label for="tics" style="padding-top: 2.5%;" >cost of ticket</label>
        <input type="number" id="tics" class="form-control" placeholder="Cost of Tickets" [(ngModel)]="fare" [ngModelOptions]="{standalone: true}" required autofocus>
		
		<div *ngFor="let gender of genders; let i = index" style="padding-top: 2.5%;">
			<div class="radio" (click)="onGenderClick(i)">
				<label><input type="radio" name="optradio">{{gender}}</label>
			</div>
		</div>
		
		<ng-container *ngIf="this.survived !== null && this.survived">
			<h3> YOU LIVE! </h3>
		</ng-container>
		<ng-container *ngIf="this.survived !== null && !this.survived">
			<h3> YOU DEAD! </h3>
		</ng-container>
		
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="onSubmitClick()">Submit</button>
		
      </form>

</div> <!-- /container -->

